# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__/*
*.py[cod]
*$py.class

# notebook
*.ipynb

# Logs
*.log

# Virtual environments
.venv/

# Project archives and legacy code
archive/
old/
scratch/

# Development files:
# files prefixed with `NN-` or suffixed with `_vN` 
# are considered experimental and are ignored by git.

# Files starting with digits (00-, 01-, 02-, ...)
lmfit_global/[0-9]*-*.py
lmfit_global/util/[0-9]*-*.py

# Versioned files (_v1, _v2, ...)
lmfit_global/*_v*.py
lmfit_global/util/*_v*.py

