# Python cache
__pycache__/
*.pyc

# notebook
*.ipynb

# Logs
*.log

# Virtual environments
.venv/

# Build artifacts (optional)
lmfit-global/*

# Optional: ignore experimental folders
tests_codes/
old_examples/

# experimental files
lmfit_global/*-lmfit_global.py
lmfit_global/*-lmfit_global.ipynb
lmfit_global/lmfit_global_v*.py


# Ignore temporary or experimental files inside the package
lmfit_global/lmfit_global/globutils.*
lmfit_global/lmfit_global/lmfit_global_v*
lmfit_global/lmfit_global/*-lmfit*
lmfit_global/lmfit_global/__pycache__/
lmfit_global/lmfit_global/*.Identifier
lmfit_global/lmfit_global/lmfit_global_refactor.*
lmfit_global/lmfit_global/lmfit_global_cleaner.*
lmfit_global/lmfit_global/util/01-utils.py
lmfit_global/lmfit_global/util/011-utils.ipynb

# Ignore notebooks inside package (optional)
lmfit_global/lmfit_global/*.ipynb
lmfit_global/lmfit_global/util/*.ipynb
lmfit_global/lmfit_global/util/__pycache__/
